PK="0xprivate_key_in_hex"
USDC_ADDRESS=0x2791Bca1f2de4661ED88A30C99A7a9449Aa84174
CTF_ADDRESS=0x4D97DCd97eC945f40cF65F87097ACe5EA0476045
FEE_MODULE_ADDRESS=0x56C79347e95530c01A2FC76E732f9566dA16E113
CTF_EXCHANGE_ADDRESS=0x4bFb41d5B3570DeFd03C39a9A4D8dE6Bd8B8982E
WEB3_PROVIDER="https://polygon-rpc.com"

GAMMA_URL="https://gamma-api.polymarket.com"
CLOB_URL="https://clob.polymarket.com"
CHAIN_ID=137

ORDER_SIZE=5.0
INIT_INTERVAL=1
TRADE_INTERVAL=5
TAKE_PROFIT_THRESHOLD=0.5
PAIR_DIFFERENCE_THRESHOLD=2.5
MAX_INIT_COMBINED_PRICE=1.05
MIN_USDC_BALANCE=20.0
DRY_MODE=1